/api-form/deploy/postgres/

/api-form/dist
/api-form/node_modules
/api-form/build

/api-form/logs
/api-form/*.log
/api-form/npm-debug.log*
/api-form/pnpm-debug.log*
/api-form/yarn-debug.log*
/api-form/lerna-debug.log*

/api-form/.DS_Store

/api-form/coverage
/api-form/.nyc_output

/api-form/.idea
/api-form/.project
/api-form/.classpath
/api-form/.c9/
/api-form/*.launch
/api-form/.settings/
/api-form/*.sublime-workspace

/api-form/.vscode/*
!/api-form/.vscode/settings.json
!/api-form/.vscode/tasks.json
!/api-form/.vscode/launch.json
!/api-form/.vscode/extensions.json

/api-form/.env
/api-form/.env.development.local
/api-form/.env.test.local
/api-form/.env.production.local
/api-form/.env.local

/api-form/.temp
/api-form/.tmp

/api-form/pids
/api-form/*.pid
/api-form/*.seed
/api-form/*.pid.lock

/api-form/report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
