* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 0px) and (orientation: portrait),
screen and (min-width: 0px) and (orientation: landscape) {

    a {
        text-decoration: none;
        color: black;
    }


    #about,
    #skills,
    #education {
        text-decoration: underline solid 1vw silver;
    }

    .subul {
        border-bottom: solid .5vw black;
        border-right: solid .5vw black;
        border-left: solid .5vw black;
        padding: 2vw;
    }

    .title {
        border-top: solid .5vw black;
        border-right: solid .5vw black;
        border-left: solid .5vw black;
        font-weight: 800;
        padding: 2vw;
    }

    ul {
        list-style: none;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        padding-left: .5vw;
        padding-right: .5vw;
        padding-bottom: .5vw;

        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;

        gap: 5vw;
        padding: 2.5vw;
    }

    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between
    }

    header figure {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
    }

    header figure img {
        width: 100%;
    }

    header figure img {
        object-fit: contain;
        border-radius: 100%;
    }

    header section {
        width: 70%;
        display: flex;
        flex-flow: row wrap;
        align-content: center;
        justify-content: center;
        gap: 10vw;
        text-align: center;
    }

    header section h1 {
        font-size: 5.5vw;
    }

    header section h2 {
        font-size: 7vw;
    }

    header nav {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 2.5vw;
        font-size: 5.5vw;
        color: silver;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 5vw;
    }

    main aside {
        display: flex;
        flex-flow: row wrap;
        gap: 5vw;
        padding-bottom: 5vw;
    }

    #about,
    #skills,
    #education {
        font-size: 6vw;
        text-align: center;
        width: 100%;
    }

    main aside article {
        width: 100%;
    }

    main aside article * {
        padding-left: 2vw;
        padding-right: 2vw;
        padding-bottom: .5vw;
    }

    main aside article h3 {
        font-size: 5.5vw;
        padding: 2.5vw;
        border-left: solid .5vw black;
        border-right: solid .5vw black;
        border-top: solid .5vw black;
    }

    main aside article ul {
        border-left: solid .5vw black;
        border-right: solid .5vw black;
        border-bottom: solid .5vw black;
    }

    main aside article ul li {
        font-size: 5vw;
    }

    main section {
        display: flex;
        flex-flow: row wrap;
        gap: 5vw;
    }

    main section article {
        border: solid .5vw black;
        padding: 3vw;
    }

    .asir,
    .smr {
        /* box-shadow */
        -webkit-box-shadow: inset 25px 0px 41px 2px rgba(235, 235, 235, 1);
        -moz-box-shadow: inset 25px 0px 41px 2px rgba(235, 235, 235, 1);
        box-shadow: inset 25px 0px 41px 2px rgba(235, 235, 235, 1);

    }

    main section article h4 {
        font-size: 5.5vw;
        text-align: center;
    }


    main section article ul {
        display: flex;
        flex-flow: row wrap;
        gap: 0;
    }

    main section article ul li {
        font-size: 5vw;
        width: 100%;
    }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
    header figure {
        width: 30%;
    }

    header figure img {
        width: 100%;
    }

    header section h1 {
        font-size: 4vw;
    }

    header section h2 {
        font-size: 5vw;
    }


    main {
        flex-flow: row nowrap;
        justify-content: space-around;
        align-content: flex-start;
    }

    main aside {
        width: 35%;
        background-color: lightblue;
        padding: .5vw;
    }

    main section {
        width: 60%;
    }

    #about,
    #skills,
    #education {
        font-size: 3.5vw;
        text-align: center;
        width: 100%;
        text-decoration: underline solid .25vw darkblue;
    }

    main section article {
        border: none;
    }

    main aside * {
        border: none !important;
    }

    main aside article h3 {
        font-size: 3vw;

    }

    main aside article ul {
        flex-flow: row nowrap;
        padding: 0;
    }

    main aside article ul li {
        display: flex;
        flex-flow: row nowrap;
        font-size: 2.5vw;

    }

    main aside article ul li i {
        font-size: 3vw;
        width: min-content;
        height: min-content;
        padding: 0;
    }

    main aside article ul li a {
        text-align: center;
        width: 80%;
        font-size: 2.5vw;

    }




    main section article ul li {
        font-size: 2.5vw;
    }

    main section article h4 {
        font-size: 2.75vw;
    }
}